.idea/
*.swp
*.output
**/.DS_Store
.vscode
*.iml
tags
nohup.out
site
node_modules


# Package Files #
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
application-prod.properties
application-test.properties
